@font-face {
    font-family: Letra;
    src: url(media/Font/HoxtonNorthTrial-Bold-BF63c8981406eaa.otf);
}

body {
    margin: auto;
    font-family: Letra;
}

.General {
    width: 100%;
    height: 100%;
    background-color: #eeedf2;
    display: flex;
}

.SideBar{
    width: 6rem;
    height: 59.05rem;
    background-color: #fefefe;
}

.Container{
    width: 100%;
    height: 59.05rem;
    background-color: #b8b8b880;
    display: flex;
}

.Top{
    width: 100%;
    height: 6rem;
    background-color: #fefefe;
    align-items: center;
    display: flex;
    position: relative;
}
#Chiquito{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: 92%;
    position: absolute;
}
#IconMenu{
    width: 2rem;
    height: 2rem;
    margin-left: 10%;
    margin-top: 2%;
}

#Agrandar{
    display: none;
}
 
#Agrandar:checked+.SideBar{
    width: 20rem;
    height: 59.05rem;   
    animation-name: mostrar;
    animation-duration: 0.5s;
}
@keyframes mostrar {
    from{width: 6rem; height: 59.05rem;}
    to{width: 20rem;height: 59.05rem;}
}

#Dash{
    position: absolute;
    margin-top: 9rem;
    margin-left: 1.5rem;
    font-size: 2.6rem;
}

.Cajas{
    position: absolute;
    display: grid;
    background-color: yellow;
    width: 90%;
    height: 10rem;
    margin-top: 17rem;
}
