@font-face {
  font-family: letraL;
  src: url(Fonts/MyriadPro-Light.otf);
}
@font-face {
  font-family: letraR;
  src: url(Fonts/MYRIADPRO-REGULAR.OTF);
}

body {
  margin: 0px 0px;
  font-family: letraR;
}
html {
  scroll-behavior: smooth;
}
.pag {
  margin: 0 auto;
  width: 1920px;
  height: 1637px;
  overflow: hidden;
}
#fondo {
  width: 1920px;
  height: 1638px;
}
#cabecera {
  display: flex;
  margin: 0px 20px;
  justify-content: stretch;
  background: #3669c9;
  position: fixed;
  color: #fff;
  width: 1720px;
  height: 174px;
  margin: 0;
  font-size: 30px;
  padding-left: 200px;
  align-items: center;
  overflow: hidden;
  float: right;
  z-index: 1;
}
#cabecera img,
p {
  margin: 0 60px;
}
#consultar {
  background: #fff;
  width: 248px;
  height: 59px;
  color: #000;
  align-content: center;
  text-align: center;
  border-radius: 30px;
  margin-right: 107px;
}
#logo {
  width: 349px;
  height: 69px;
  padding: 0 80px;
}
#cont {
  width: 1545px;
  height: 1225px;
  background: #fff;
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
  top: -1447px;
  text-align: center;
  justify-content: center;
}
#dian {
  width: 313px;
  height: 53px;
  padding-top: 51px;
}
#text1 {
  margin: 0 auto;
  font-size: 26px;
  width: 666px;
  height: 64px;
  padding-top: 33px;
}
#muisca {
  padding-top: 17px;
  width: 231px;
  height: 77px;
}
#ND {
  font-size: 21px;
  position: relative;
  left: -297px;
}
#nDocumento {
  margin-top: 8px;
  width: 792px;
  height: 63px;
  font-size: 40px;
  opacity: 0.8;
}
#nDocumento:focus {
  outline: none;
}
#FE {
  font-size: 21px;
  position: relative;
  left: -242px;
  margin-top: 32px;
}
#nExpedicion {
  margin-top: 8px;
  width: 792px;
  height: 63px;
  font-size: 40px;
  opacity: 0.8;
  margin-left: 37px;
}
#calendar {
  width: 37px;
  height: 43px;
  position: relative;
  left: -48px;
  top: 8px;
  background: #fff;
}
#captcha {
  width: 382px;
  height: 83px;
  color: #999999;
  border: gray 2px solid;
  margin: 0 auto;
  margin-top: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
#confi {
  position: relative;
  left: 15px;
  transform: scale(3.5);
}
#IC {
  height: 50px;
}
#peque {
  font-family: letraL;
  font-size: 11px;
  margin-top: 28px;
}
#consultar2 {
  margin: auto;
  font-size: 15px;
  background: #157ffb;
  color: #fff;
  text-decoration: none;
}
#cCons {
  margin: auto;
  width: 165px;
  height: 42px;
  background: #157ffb;
  border-radius: 30px;
  align-content: center;
  text-align: center;
}
#submit {
  background: #157ffb;
  border-radius: 30px;
  align-content: center;
  text-align: center;
  color: #fff;
  font-size: 15px;
  outline: none;
  border: none;
}
#pregunta {
  margin-top: 28px;
  font-size: 35px;
}
#tramite {
  display: flex;
  text-align: center;
  justify-content: center;
}
#contrat {
  width: 63px;
  height: 84px;
}
#TR {
  font-size: 35px;
}
#textTR {
  text-align: center;
  font-size: 17px;
  font-family: letraL;
  width: 460px;
  height: 86px;
}
#bTamitarR {
  margin: auto;
  width: 220px;
  height: 56px;
  background: #157ffb;
  border-radius: 30px;
  align-content: center;
}
#tTramitarR {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
}
#signature {
  margin-top: 25px;
  width: 102px;
  height: 62px;
  margin-bottom: 5px;
}
#TF {
  font-size: 35px;
  width: 380px;
  height: 35px;
}
#textTF {
  margin: auto;
  text-align: center;
  font-size: 17px;
  font-family: letraL;
  width: 282px;
  height: 86px;
}
#bTamitarF {
  margin: auto;
  width: 220px;
  height: 56px;
  background: #157ffb;
  border-radius: 30px;
  align-content: center;
}
#tTramitarF {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
}
#firma {
  position: relative;
  left: -20px;
}
#fin {
  display: flex;
  width: 1920px;
  height: 174px;
  background: #3366cc;
  position: relative;
  top: -1404px;
  align-items: center;
  justify-content: center;
}
#logoF {
  width: 287px;
  height: 58px;
  margin: 0 150px;
}
#f1 {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
#location {
  width: 21px;
  height: 30px;
}
#f3 {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
#phone {
  width: 30px;
  height: 30px;
}
/*--------------------------TramitarRut.html-------------------------------------*/

.pagTR {
  margin: 0 auto;
  width: 1920px;
  height: 1254px;
  overflow: hidden;
}
#fondoTR {
  width: 1920px;
  height: 1080px;
  position: relative;
  top: 174px;
}
#cabeceraTR {
  display: flex;
  margin: 0px 20px;
  justify-content: stretch;
  background: #3669c9;
  position: fixed;
  color: #fff;
  width: 1720px;
  height: 174px;
  margin: 0;
  font-size: 30px;
  padding-left: 200px;
  align-items: center;
  overflow: hidden;
  float: right;
  z-index: 1;
}
#cabeceraTR img,
p {
  margin: 0 60px;
}
#consultarTR {
  background: #fff;
  width: 248px;
  height: 59px;
  color: #000;
  align-content: center;
  text-align: center;
  border-radius: 30px;
  margin-right: 107px;
}
#logoTR {
  width: 349px;
  height: 69px;
  padding: 0 80px;
}
#contTR {
  width: 1545px;
  height: 870px;
  background: #fff;
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
  top: -897px;
  text-align: center;
  justify-content: center;
}
#finTR {
  display: flex;
  width: 1920px;
  height: 174px;
  background: #3366cc;
  position: relative;
  top: -875px;
  align-items: center;
  justify-content: center;
}
#logoFTR {
  width: 287px;
  height: 58px;
  margin: 0 150px;
}
#f1TR {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
#locationTR {
  width: 21px;
  height: 30px;
}
#f3TR {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
#phoneTR {
  width: 30px;
  height: 30px;
}
#captchaTR {
  width: 382px;
  height: 83px;
  color: #999999;
  border: gray 2px solid;
  margin: 0 auto;
  margin-top: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
#confiTR {
  position: relative;
  left: 15px;
  transform: scale(3.5);
}
#ICTR {
  height: 50px;
}
#pequeTR {
  font-family: letraL;
  font-size: 11px;
  margin-top: 10px;
}
#cAgen {
  margin: auto;
  width: 165px;
  height: 42px;
  background: #157ffb;
  border-radius: 30px;
  align-content: center;
  text-align: center;
  margin-top: -5px;
}
#submitTR {
  background: #157ffb;
  border-radius: 30px;
  align-content: center;
  text-align: center;
  color: #fff;
  font-size: 15px;
  outline: none;
  border: none;
}
#dianTR {
  width: 313px;
  height: 53px;
  margin-top: 50px;
}
#text1TR {
  font-size: 26px;
  width: 796px;
  height: 64px;
  margin: auto;
  margin-top: 33px;
}
#muiscaTR {
  width: 231px;
  height: 77px;
  margin-top: 33px;
}

#nDocumentoTR {
  font-size: 21px;
  position: relative;
  left: -297px;
}
#inputNDocumentoTR {
  margin-top: 8px;
  width: 792px;
  height: 63px;
  font-size: 40px;
  opacity: 0.8;
}
#inputNDocumentoTR:focus {
  outline: none;
}
#fechaETR {
  font-size: 21px;
  position: relative;
  left: -242px;
  margin-top: 17px;
}
#inputfechaETR {
  margin-top: 8px;
  width: 792px;
  height: 63px;
  font-size: 40px;
  opacity: 0.8;
}
#fechaCTR {
  font-size: 21px;
  position: relative;
  left: -312px;
  margin-top: 8px;
}
#inputfechaCTR {
  margin-top: 8px;
  width: 792px;
  height: 63px;
  font-size: 40px;
  opacity: 0.8;
}
#imgTR1 {
  width: 37px;
  height: 43px;
  position: relative;
  top: -370px;
  left: 395px;
  background: #fff;
}
#imgTR2 {
  width: 37px;
  height: 43px;
  position: relative;
  top: -260px;
  left: 355px;
  background: #fff;
}
/*-----------------------------TramitarFirma.html--------------------------------------*/

.pagTF {
  margin: 0 auto;
  width: 1920px;
  height: 1184px;
  overflow: hidden;
}
#fondoTF {
  width: 1920px;
  height: 1010px;
  position: relative;
  top: 174px;
}
#cabeceraTF {
  display: flex;
  margin: 0px 20px;
  justify-content: stretch;
  background: #3669c9;
  position: fixed;
  color: #fff;
  width: 1720px;
  height: 174px;
  margin: 0;
  font-size: 30px;
  padding-left: 200px;
  align-items: center;
  overflow: hidden;
  float: right;
  z-index: 1;
}
#cabeceraTF img,
p {
  margin: 0 60px;
}
#consultarTF {
  background: #fff;
  width: 248px;
  height: 59px;
  color: #000;
  align-content: center;
  text-align: center;
  border-radius: 30px;
  margin-right: 107px;
}
#logoTF {
  width: 349px;
  height: 69px;
  padding: 0 80px;
}
#contTF {
  width: 1545px;
  height: 782px;
  background: #fff;
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
  top: -827px;
  text-align: center;
  justify-content: center;
}
#finTF {
  display: flex;
  width: 1920px;
  height: 179px;
  background: #3366cc;
  position: relative;
  top: -791px;
  align-items: center;
  justify-content: center;
}
#logoFTF {
  width: 287px;
  height: 58px;
  margin: 0 150px;
}
#f1TF {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
#locationTF {
  width: 21px;
  height: 30px;
}
#f3TF {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
#phoneTF {
  width: 30px;
  height: 30px;
}
#dianTF {
  width: 313px;
  height: 53px;
  margin-top: 50px;
}
#signatureTF {
  width: 71px;
  height: 43px;
  margin-top: 13px;
}
#text1TF {
  font-size: 24px;
  margin-top: 13px;
}
#text2TF {
  font-size: 23px;
  margin-top: 32px;
}
#muiscaTF {
  width: 231px;
  height: 77px;
  margin-top: 17px;
}
#nDocumentoTF {
  font-size: 21px;
  position: relative;
  left: -297px;
}
#inputNDocumentoTF {
  margin-top: 8px;
  width: 792px;
  height: 63px;
  font-size: 40px;
  opacity: 0.8;
}
#inputNDocumentoTF:focus {
  outline: none;
}
#fechaETF {
  font-size: 21px;
  position: relative;
  left: -242px;
  margin-top: 17px;
}
#inputfechaETF {
  margin-top: 8px;
  width: 792px;
  height: 63px;
  font-size: 40px;
  opacity: 0.8;
}
#continuar {
  margin: auto;
  margin-top: 67px;
  width: 300px;
  height: 76px;
  background: #157ffb;
  border-radius: 30px;
  align-content: center;
}
#submitTF {
  color: #fff;
  background: #157ffb;
  border: none;
  font-size: 29px;
}
/*------------------------Contraseña.html-------------------------*/
.pagContra {
  margin: 0 auto;
  width: 1920px;
  height: 1254px;
  overflow: hidden;
}
#fondoContra {
  width: 1920px;
  height: 1080px;
  position: relative;
  top: 174px;
}
#cabeceraContra {
  display: flex;
  margin: 0px 20px;
  justify-content: stretch;
  background: #3669c9;
  position: fixed;
  color: #fff;
  width: 1720px;
  height: 174px;
  margin: 0;
  font-size: 30px;
  padding-left: 200px;
  align-items: center;
  overflow: hidden;
  float: right;
  z-index: 1;
}
#cabeceraContra img,
p {
  margin: 0 60px;
}
#consultarContra {
  background: #fff;
  width: 248px;
  height: 59px;
  color: #000;
  align-content: center;
  text-align: center;
  border-radius: 30px;
  margin-right: 107px;
}
#logoContra {
  width: 349px;
  height: 69px;
  padding: 0 80px;
}
#contContra {
  width: 1545px;
  height: 870px;
  background: #fff;
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
  top: -897px;
  text-align: center;
  justify-content: center;
}
#finContra {
  display: flex;
  width: 1920px;
  height: 179px;
  background: #3366cc;
  position: relative;
  top: -875px;
  align-items: center;
  justify-content: center;
}
#logoFContra {
  width: 287px;
  height: 58px;
  margin: 0 150px;
}
#f1Contra {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
#locationContra {
  width: 21px;
  height: 30px;
}
#f3Contra {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
#phoneContra {
  width: 30px;
  height: 30px;
}
#dianContra {
  width: 313px;
  height: 53px;
  margin-top: 50px;
}
#signatureContra {
  width: 71px;
  height: 43px;
  margin-top: 13px;
}
#text1Contra {
  font-size: 24px;
  margin-top: 13px;
}
#text2Contra {
  font-size: 26px;
  margin-top: 13px;
}
#text3Contra {
  font-size: 15px;
  margin-top: 13px;
  font-family: letraL;
}
#check1 {
  font-family: letraL;
  font-size: 15px;
  display: flex;
  margin: auto;
  width: 501px;
  padding-left: 170px;
}
#check1 p {
  width: 295px;
  position: relative;
  left: -50px;
  top: -5px;
}
#check2 {
  font-family: letraL;
  font-size: 15px;
  display: flex;
  margin: auto;
  width: 350px;
  padding-left: 100px;
}
#check2 p {
  width: 215px;
  position: relative;
  left: -50px;
  top: -5px;
}
#check3 {
  width: 770px;
  font-family: letraL;
  font-size: 15px;
  display: flex;
  margin: auto;
  padding-left: 120px;
}
#check3 p {
  width: 640px;
  position: relative;
  left: -55px;
  top: -5px;
}
#check4 {
  font-family: letraL;
  font-size: 15px;
  display: flex;
  margin: auto;
  width: 618px;
  padding-left: 120px;
}
#check4 p {
  width: 500px;
  position: relative;
  left: -50px;
  top: -5px;
}
#check5 {
  font-family: letraL;
  font-size: 15px;
  display: flex;
  margin: auto;
  width: 840px;
  padding-left: 120px;
}
#check5 p {
  width: 710px;
  position: relative;
  left: -50px;
  top: -5px;
}
#iconCheck1 {
  width: 9px;
  height: 7px;
}
#iconCheck2 {
  width: 9px;
  height: 7px;
}
#iconCheck3 {
  width: 9px;
  height: 7px;
}
#iconCheck4 {
  width: 9px;
  height: 7px;
}
#iconCheck5 {
  width: 9px;
  height: 7px;
}
#contraseña {
  font-size: 21px;
  position: relative;
  left: -350px;
}
#inputContraseña {
  margin-top: 8px;
  width: 792px;
  height: 63px;
  font-size: 40px;
  opacity: 0.8;
}
#inputContraseña:focus {
  outline: none;
}
#vContraseña {
  font-size: 21px;
  position: relative;
  left: -265px;
  margin-top: 10px;
}
#inputvContraseña {
  margin-top: 15px;
  width: 792px;
  height: 63px;
  font-size: 40px;
  opacity: 0.8;
}
#inputvContraseña:focus {
  outline: none;
}
#captchaContra {
  width: 382px;
  height: 83px;
  color: #999999;
  border: gray 2px solid;
  margin: 0 auto;
  margin-top: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-top: 21px;
}
#confiContra {
  position: relative;
  left: 15px;
  transform: scale(3.5);
}
#ICContra {
  height: 50px;
}
#pequeContra {
  font-family: letraL;
  font-size: 11px;
  margin-top: 10px;
}
#cCrearContra {
  margin: auto;
  width: 165px;
  height: 42px;
  background: #157ffb;
  border-radius: 30px;
  align-content: center;
  text-align: center;
  margin-top: -5px;
}
#submitContra {
  background: #157ffb;
  border-radius: 30px;
  align-content: center;
  text-align: center;
  color: #fff;
  font-size: 15px;
  outline: none;
  border: none;
}

/*-------------------completado.html----------------------------*/

.pagComplet {
  margin: 0 auto;
  width: 1920px;
  height: 1254px;
  overflow: hidden;
}
#fondoComplet {
  width: 1920px;
  height: 1080px;
  position: relative;
  top: 174px;
}
#cabeceraComplet {
  display: flex;
  margin: 0px 20px;
  justify-content: stretch;
  background: #3669c9;
  position: fixed;
  color: #fff;
  width: 1720px;
  height: 174px;
  margin: 0;
  font-size: 30px;
  padding-left: 200px;
  align-items: center;
  overflow: hidden;
  float: right;
  z-index: 1;
}
#cabeceraComplet img,
p {
  margin: 0 60px;
}
#consultarComplet {
  background: #fff;
  width: 248px;
  height: 59px;
  color: #000;
  align-content: center;
  text-align: center;
  border-radius: 30px;
  margin-right: 107px;
}
#logoComplet {
  width: 349px;
  height: 69px;
  padding: 0 80px;
}
#contComplet {
  width: 1545px;
  height: 870px;
  background: #fff;
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
  top: -897px;
  text-align: center;
  justify-content: center;
}
#finComplet {
  display: flex;
  width: 1920px;
  height: 179px;
  background: #3366cc;
  position: relative;
  top: -875px;
  align-items: center;
  justify-content: center;
}
#logoFComplet {
  width: 287px;
  height: 58px;
  margin: 0 150px;
}
#f1Complet {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
#locationComplet {
  width: 21px;
  height: 30px;
}
#f3Complet {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
#phoneComplet {
  width: 30px;
  height: 30px;
}
#dianComplet {
  width: 313px;
  height: 53px;
  margin-top: 49px;
}
#ios {
  width: 231px;
  height: 231px;
  margin-top: 66px;
}
#text1Complet {
  font-size: 39px;
  margin-top: 39px;
}
#text2Complet {
  font-size: 35px;
  margin-top: 34px;
}
#muiscaComplet {
  width: 264px;
  height: 88px;
  margin-top: 10px;
}
#dPrincipal {
  width: 311px;
  height: 79px;
  background: #157ffb;
  border-radius: 30px;
  align-content: center;
  margin: auto;
}
#principal {
  font-size: 23px;
  color: #fff;
  text-decoration: none;
}
