@font-face {
  font-family: letra;
  src: url(AmazonFont/Ember/AmazonEmber_Th.ttf);
}

@font-face {
  font-family: ancha;
  src: url(AmazonFont/Ember/AmazonEmber_Bd.ttf);
}

@font-face {
  font-family: cursiva;
  src: url(AmazonFont/MYRIADPRO-CONDIT.OTF);
}

body {
  background-color: black;
  margin: 0 auto;
}
.Pagina {
  margin: 0px auto;
  width: 100vw;
  max-width: 1920px;
  height: auto;
  overflow: hidden;
}
#parte1 {
  background-image: url(images/Fondo.png);
  background-size: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 135vh;
  max-height: 56vw;
  max-width: 1920px;
  text-align: center;
  margin: 0px;
}
.Top {
  display: flex;
  justify-content: space-between;
}
#parte2 {
  width: 93%;
  padding-bottom: 3vw;
  background: #00a8e1;
  border-radius: 6vw;
  margin: 0px auto;
  margin-top: 1.5vw;
  border: #00a8e1 1px solid;
  text-align: center;
}
#parte3 {
  width: 93%;
  padding-bottom: 3vw;
  background: #00a8e1;
  border-radius: 6vw;
  margin: 0px auto;
  margin-top: 1.5vw;
  border: #00a8e1 1px solid;
  text-align: center;
}

#parte4 {
  width: 93%;
  padding-bottom: 3vw;
  background: #00a8e1;
  border-radius: 6vw;
  margin: 0px auto;
  margin-top: 1.5vw;
  border: #00a8e1 1px solid;
  text-align: center;
}
#parte5 {
  width: 93%;
  padding-bottom: 3vw;
  border-radius: 6vw;
  margin: 0px auto;
  margin-top: 1.5vw;

  text-align: center;
}
#fondo {
  width: 100vw;
  height: 100vh;
  max-height: 85vw;
  max-width: 1920px;
  z-index: -1;
}
#Search {
  width: 2vw;
  height: 2vw;
  padding-top: 2vw;
  padding-left: 3vw;
}
#Login {
  font-size: 1vw;
  width: 11.5%;
  height: 3vw;
  background: white;
  font-family: letra;
  border-radius: 30px;
  text-align: center;
  align-content: center;
  margin-right: 3vw;
  margin-top: 1.5%;
}
#logo {
  width: 30vw;
  height: 20vw;
  margin-top: 1%;
}
#Texto1 {
  margin: 0px;
  margin-top: 3vw;
  font-size: 3.1vw;
  color: white;
  font-family: ancha;
}
#Texto2 {
  margin: auto;
  font-size: 1.65vw;
  margin-top: 0.5vw;
  color: white;
  text-align: center;
  font-family: letra;
}
#SignUp {
  margin: 0px auto;
  width: 20vw;
  height: 5vw;
  border-radius: 52px;
  background: white;
  font-family: letra;
  font-weight: 600;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
}
#Texto3 {
  color: white;
  font-size: 3.2vw;
  font-size-adjust: auto;
  font-family: letra;
  margin-top: 4vw;
  margin-bottom: 0px;
}
#tv {
  margin-top: 1.3vw;
  width: 13vw;
  height: 11vw;
  margin-left: 2vw;
}
#Texto4 {
  margin: auto;
  color: white;
  font-size: 2vw;
  font-family: letra;
  text-align: center;
  margin-top: 1vw;
  padding-left: 1vw;
}
#Texto5 {
  color: white;
  font-size: 3.1vw;
  font-family: ancha;
}
#Peliculas {
  display: flex;
  justify-content: center;
}
.Movies {
  width: 9vw;
  margin: 0 0.3vw;
}
#Texto6 {
  color: white;
  font-family: letra;
  font-size: 2vw;
  text-align: center;
  margin-bottom: 0px;
}
#Texto7 {
  color: white;
  font-size: 3.1vw;
  font-family: ancha;
}
#Cancel {
  width: 9vw;
  top: 60px;
}
#Texto8 {
  color: white;
  font-size: 2vw;
  font-family: letra;
  text-align: center;
  margin-bottom: 0vw;
}
#Texto9 {
  color: white;
  font-family: letra;
  font-size: 7vw;
  margin-top: 4.5vw;
  margin-bottom: 0vw;
}
#Texto10 {
  color: white;
  font-family: letra;
  font-size: 2.6vw;
  margin: auto;
  margin-top: 2vw;
}
#CajaMedio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25vw;
}
#iPhone {
  width: 15vw;
}
#Mac {
  width: 25vw;
}
#Pc {
  width: 20vw;
}
#Left {
  width: 1vw;
}
#Right {
  width: 1vw;
}
#Powered {
  color: white;
  font-family: cursiva;
  font-size: 1.2vw;
  padding-right: 1vw;
}
#Firma {
  width: 20vw;
}
#divisionT2 {
  height: 75px;
  display: flex;
  justify-content: center;
}
.Pie {
  color: white;
  font-size: 1.2vw;
  margin: 1.1vw;
  font-family: letra;
}
