body{
    background-color: black;
}

.animar{
    background-color: red;
    width: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes example{
from {background-color: red; left: 500px; top:0px}
to {background-color: blue; left: 500px; top: 800px}
}