body{
    margin: auto;
}

.Section{
    width: 100vw;
    height: 108vh;
    max-width: 100vw;
    max-height: 108vh;
    background-image: url(media/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 4vh;
}

#Sol{
    width: 20vw;
    margin-left: 140vh;
    animation-name: Solecito;
    animation-duration: 5s;
    position: relative;
    animation-iteration-count: infinite;
}

@keyframes Solecito {
    0% {opacity: 20%;}
    100%{opacity: 100%;}
    
}

#Nube{
    top: -32vh;
    width: 25vw;
    height: 30vh;
    animation-name: Nubecita;
    animation-duration: 6s;
    position: relative;
    display: flex;
    animation-iteration-count: infinite;
}

@keyframes Nubecita {
    from {left: 190vh;}
    to{left: -60vh;}
    
}